$primary-color: #666;
$background-color: #fff;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

.popupContainer {
    background-color: $background-color;
    color: $primary-color;
    min-height: 100px;
    justify-content: center;
    width: 300px;
    padding: 20px;
}

.book-item {
    position: relative;
    padding: 5px 55px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        .icon {
            display: block;
        }
    }

    .icons {
        display: flex;
        background-color: inherit;
        position: absolute;
        z-index: 1;
        top: 6px;
        right: 0;
        cursor: pointer;
    }

    .icon {
        display: none;
        margin: 0 5px;
        width: 16px;
        height: 16px;
    }

    &.selected {
        background: #ece7df;

        .icon-close {
            display: none;
        }
    }
}