$primary-color: #666;
$background-color: #fff;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    align-items: center;
    background-color: $background-color;
    color: $primary-color;
    display: flex;
    font-size: 20px;
    height: 75px;
    justify-content: center;
    width: 150px;
}