$primary-color: #666;
$background-color: #fff;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

.popupContainer {
    background-color: $background-color;
    color: $primary-color;
    min-height: 100px;
    justify-content: center;
    width: 300px;
    padding: 10px;
}

.app-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;

    .logo-wrap {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        .text {
            margin-left: 10px;
            font-size: 16px;
            color: #333;
        }
    }

    .icon-app {
        display: block;
        background: url(/img/icon/icon128.png) no-repeat center center;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
}

.book-item {
    position: relative;
    padding: 5px 55px 5px 5px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        .icon {
            display: block;
        }
    }

    .icons {
        display: flex;
        background-color: inherit;
        position: absolute;
        z-index: 1;
        top: 6px;
        right: 0;
        cursor: pointer;
    }

    .icon {
        display: none;
        margin: 0 5px;
        width: 16px;
        height: 16px;
    }

    &.selected {
        background: #ece7df;

        .icon-close {
            display: none;
        }
    }
}

.nodata {
    .msg {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }

    .btn-add {
        display: block;
        margin: 10px auto;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        color: #666;
    }
}