
body {
    background-color: #5b7e91;
    font-family: "Microsoft Yahei", Avenir, "Segoe UI", "Hiragino Sans GB", STHeiti, "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
}

.file-uploader {
    position: fixed;
    top: 10px;
    left: 10px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    color: #ddd;
}

.paragrap-container {
    width: 60vw;
    margin: 150px auto 0;
    text-align: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}