body {
    background-color: var(--newtab-background-color);
    font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

    * {
        box-sizing: inherit;
    }
}

.file-uploader {
    position: fixed;
    top: 10px;
    left: 10px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    color: #ddd;
    cursor: pointer;
    font-size: 12px;
    opacity: .3;
    transition: all 200ms ease-in;

    &:hover {
        opacity: 1;
    }
}

.top-right-tools {
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
}

.search-btn {
    margin-right: 10px;

    .icon-search {
        display: block;
        width: 20px;
        height: 20px;
        background: url(/img/icon/search.svg) no-repeat center center;
        background-size: 20px 20px;
        cursor: pointer;
        color: #fff;
        opacity: .3;
    }
}

.color-selector {
    width: 50px;
    opacity: .3;
    transition: all 200ms ease-in;

    &:hover {
        opacity: 1;
        .color-list {
            display: block;
        }
    }

    .color-box {
        border: 1px solid #ccc;
        height: 20px;
        cursor: pointer;
        margin-top: 5px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .color-list {
        display: none;
    }
}

.paragraph-container {
    position: relative;
    width: 60vw;
    margin: 100px auto 0;
    text-align: left;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

.paragraph-text {
    height: 150px;
    overflow: auto;
}

.process {
    padding: 20px 0;
    opacity: 0;
    transition: all 200ms ease-in;

    &:hover {
        opacity: 1;
    }
}

.share-icons {
    position: absolute;
    z-index: 1;
    right: -40px;
    top: 60px;
    transition: all 200ms ease-in;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.icon-share {
    display: block;
    margin: 5px 0;
    width: 30px;
    height: 30px;
    background: () no-repeat center center;
    background-size: 30px 30px;
    cursor: pointer;
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.icon-share-weibo {
    background-image: url(/img/icon/weibo.svg);
}

.icon-share-twitter {
    background-image: url(/img/icon/twitter.svg);
}

.book-name {
    text-align: right;
    font-style: italic;
    margin-right: 2em;
    opacity: .5;
}

.comment-container {
    position: fixed;
    height: 250px;
    left: 100px;
    right: 100px;
    bottom: 0;
    opacity: 0;
    transition: all 200ms ease-in;

    &:hover {
        opacity: 1;
    }
}

.comment-input-box {
    input {
        display: block;
        width: 50vw;
        color: #fff;
        outline: 0;
        font-size: 14px;
        padding: 10px;
        border: 0;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.1);
    }
}

.comments {
    margin: 0 auto;
    padding: 10px 5px;
    width: 50vw;
    height: 190px;
    overflow: auto;
    color: #eee;

    .comment-item {
        line-height: 20px;
    }
}

.lock-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: .5;

    &:hover {
        opacity: 1;
    }

    i {
        display: block;
        width: 30px;
        height: 30px;
        background: () no-repeat center center;
        background-size: 30px 30px;
        cursor: pointer;
    }

    .locked {
        background-image: url(/img/icon/locked.svg);
    }

    .unlock {
        background-image: url(/img/icon/unlock.svg);
    }
}

/* scrollbar styles */
::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    width: 50px;

    -webkit-border-radius: 8px;
    outline: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}
