body {
    background-color: var(--newtab-background-color);
    font-family: "Microsoft Yahei", Avenir, "Segoe UI", "Hiragino Sans GB", STHeiti, "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
}

.file-uploader {
    position: fixed;
    top: 10px;
    left: 10px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    color: #ddd;
    cursor: pointer;
    font-size: 12px;
}

.paragrap-container {
    width: 60vw;
    margin: 150px auto 0;
    text-align: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.5;
}

.book-name {
    text-align: right;
    font-style: italic;
    margin-right: 2em;
    opacity: .5;
}

.color-selector {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;

    &:hover {
        .color-list {
            display: block;
        }
    }

    .color-box {
        border: 1px solid #ccc;
        height: 20px;
        cursor: pointer;
        margin-top: 5px;
    }

    .color-list {
        display: none;
    }
}